.git/
.gitignore
compose.*.yaml
compose.yaml
.github/
.docs/
public/bundles/
tests/
var/
vendor/
.editorconfig
.env.*.local
.env.local
.env.local.php
.env.test
.idea
.vscode
docker.env
docker.env.local
