networks:
  default: ~
  hostmanager:
    external: true

services:
  php:
    build:
      context: .
      target: skeleton_php_dev
    container_name: skeleton-webapp-php
    env_file:
      - docker.env
      - docker.env.local
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./:/srv:rw,cached

      - ./.docker/config/bashrc:/home/appuser/.bashrc
      - ./.docker/config/bash_aliases:/home/appuser/.bash_aliases
      - ./.docker/data/history:/home/appuser/.bash_history

  nginx:
    image: nginx:1.29-alpine
    container_name: skeleton-webapp-nginx
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.skeleton-webapp-nginx.rule=Host(`skeleton-webapp.localhost`)"
      - "traefik.http.routers.skeleton-webapp-nginx.entryPoints=web,websecure"
      - "traefik.http.routers.skeleton-webapp-nginx.tls=true"
    volumes:
      - ./public:/srv/public:ro
      - ./.docker/nginx/dev.nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - hostmanager
      - default
    depends_on:
      php:
        condition: service_healthy

  postgres:
    image: postgres:18
    container_name: skeleton-webapp-postgres
    environment:
      POSTGRES_DB: skeleton
      POSTGRES_PASSWORD: skeleton-password
      POSTGRES_USER: skeleton
    ports:
      - "54322:5432" #use by macOS user to connect directly to the database
    volumes:
      - postgres:/var/lib/postgresql/18/docker:rw
    healthcheck:
      test: [ "CMD", "pg_isready", "-d", "skeleton", "-U", "skeleton" ]
      timeout: 5s
      retries: 5
      start_period: 60s

  mailpit:
    image: axllent/mailpit
    container_name: skeleton-webapp-mailpit
    ports:
      - "1025"
      - "8025"
    environment:
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.skeleton-webapp-maildev.loadbalancer.server.port=8025"
      - "traefik.http.routers.skeleton-webapp-maildev.rule=Host(`skeleton-webapp-mail.localhost`)"
      - "traefik.http.routers.skeleton-webapp-maildev.entryPoints=web,websecure"
      - "traefik.http.routers.skeleton-webapp-maildev.tls=true"
    networks:
      - default
      - hostmanager

volumes:
  postgres: ~
