{% extends 'layouts/root.html.twig' %}

{% block importmap %}
    {{ importmap(['app', 'pages-error']) }}
{% endblock %}

{% block body %}
<div id="error">
    <div class="error-page container">
        <div class="col-md-8 col-12 offset-md-2">
            <div class="text-center">
                {% block content %}{% endblock %}
                <twig:ButtonLink href="{{ path('security_login') }}" color="blue" size="large">Go Home</twig:ButtonLink>
            </div>
        </div>
    </div>
</div>
{% endblock %}
