{% extends 'layouts/root.html.twig' %}

{% block body %}
    <div id="app">
        <div id="sidebar" data-controller="sidebar">
            <twig:Sidebar/>
        </div>
        <div id="main" class="layout-navbar navbar-fixed">
            <header class="mb-3">
                {% include "layouts/_partials/_vertical-nav.html.twig" %}
            </header>
            <div id="main-content">
                <div id="flash-messages">
                    {% for type, messages in app.flashes %}
                        {% for message in messages %}
                            <twig:Alert type="{{ type }}">
                                {{ message|raw }}
                            </twig:Alert>
                        {% endfor %}
                    {% endfor %}
                </div>
                {% block content %}
                {% endblock %}
            </div>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>{{ "now"|date("Y") }} <a href="https://github.com/zuramai/mazer">&copy; Mazer</a></p>
                    </div>
                    <div class="float-end">
                        <p>
                            Crafted with <span class="text-danger"><twig:ux:icon name="tabler:heart" height="20px" width="20px" /></span> by <a href="https://zuramai.github.io/mazer/demo/index.html">Zuramai</a>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}
