#auth {
    #auth-left {
        .auth-logo {
            margin-bottom: 4rem;

            img {
                height: 5rem;
            }
        }
    }
}

.form-group[class*=has-icon-] .form-control-icon svg {
    width: 2.2rem;
}

html[data-bs-theme=dark] {
    .form-group[class*=has-icon-] .form-control-icon svg {
        width: 2.2rem;
    }
}
