{% extends 'layouts/main.html.twig' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="page-heading">
        <h3>Home</h3>
    </div>
    <div class="page-content">
        Welcome to the home page.
        Look at <a href="https://zuramai.github.io/mazer/demo/">Demo</a> for more component and layout.
    </div>
{% endblock %}
