{% props size = 'normal', color = 'blue' %}

{% set button = html_cva(
    base: 'btn',
    variants: {
        size: {
            small: 'btn-sm',
            normal: '',
            large: 'btn-lg',
        },
        color: {
            blue: 'btn-outline-primary',
            red: 'btn-outline-danger',
            green: 'btn-outline-success',
        },
    },
    defaultVariant: {
        size: 'md',
        color: 'blue',
    },
) %}

<button class="{{ button.apply({color: color, size: size}, attributes.render('class')) }}" {{ attributes }}>
    {% block content %}{% endblock %}
</button>
